@use '../utils' as *;

.footer {
  background-color: #094b72;
  display: flex;
  flex-direction: column;
  justify-content: end;
  .footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 73px 165px;
    @include tablet {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    @include desktop {
      padding: 40px 120px;
    }
    .logo {
      &__img {
        width: 159px;
        height: 54px;
      }
    }
    .list-item {
      display: flex;
      @include mobile {
        margin-top: 20px;
        flex-direction: column;
      }
      @include tablet {
        margin-top: 20px;
      }
    }
  }
  .footer-contact {
    display: flex;
    padding: 0 170px 0 150px;
    justify-content: space-between;
    align-items: center;
    background-color: #004d7b;
    height: 100px;
    @include mobile {
      flex-direction: column;
      padding: 10px;
    }
    &__label {
      font-family: $inter-font;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      font-feature-settings: 'salt' on, 'liga' off;
      color: #d9dbe1;
    }
    .list-icons {
      display: flex;
      &__img {
        width: 24px;
        height: 24px;
        margin-left: 16px;
      }
    }
  }
}
