@use '../utils' as *;

.footer {
  background-color: #094b72;
  height: 502px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  .footer-content {
    display: flex;
    justify-content: space-between;
    padding: 73px 165px;
    .logo {
      &__img {
        width: 159px;
        height: 54px;
      }
    }
    .list-item {
      display: flex;
    }
  }
  .footer-contact {
    display: flex;
    padding: 0 170px 0 150px;
    justify-content: space-between;
    align-items: center;
    background-color: #004d7b;
    height: 70px;
    &__label {
      font-family: $inter-font;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      font-feature-settings: 'salt' on, 'liga' off;
      color: #d9dbe1;
    }
    .list-icons {
      display: flex;
      &__img {
        width: 24px;
        height: 24px;
        margin-left: 16px;
      }
    }
  }
}
