//Font
$poppins-font: Poppins;
$inter-font: Inter;
$playfairdisplay-font: PlayfairDisplay;
$plusjakartasans-font: PlusJakartaSans;
//Breakpoints
$exception: 280px;
$small: 640px;
$medium: 768px;
$large: 1024px; 


// Color
$primary-color: #ebcb80;
$background-color: #ffffff;

// Color-text
$text-color: #4f4f4f;
$text-sub-color: #4b4b4b;
