<div class="bubble">
  <div class="bubble-content">
    <div class="bubble-content__title">{{ title }}</div>
    <div class="bubble-content__description">{{ description }}</div>
    <div class="bubble-content__arrow-down"></div>
  </div>
  <div class="bubble-user">
    <figure class="bubble-user__avt">
      <img src="{{ image }}" alt="" />
    </figure>
    <div class="bubble-user-info">
      <div class="bubble-user-info__name">{{ name }}</div>
      <div class="bubble-user-info__position">{{ position }}</div>
    </div>
  </div>
</div>
