<div class="card-list">
  <include
    src="./components/card.html"
    locals='{
      "image": "../assets/imgs/CircleLayer.png",
      "title": "Enviromental Law",
      "content": "Environmental legal issues might occur since the planned business activities are designed"
    }'
  ></include>
  <include
    src="./components/card.html"
    locals='{
    "image": "../assets/imgs/Bag.png",
    "title": "Corporate and Commercial",
    "content": "We provide a complete range of services for the continuity of your business activities."
  }'
  ></include>
  <include
    src="./components/card.html"
    locals='{
    "image": "../assets/imgs/Rocket.png",
    "title": "Information and Technology",
    "content": "IT not followed by the existing regulation which might cause legal uncertainty and business uncertainty."
  }'
  ></include>
  <include
    src="./components/card.html"
    locals='{
    "image": "../assets/imgs/UserArrows.png",
    "title": "Other Services",
    "content": "In dealing with disruptive economic and legal challenge, our firm also provide various legal services."
  }'
  ></include>
</div>
