@use '../utils' as *;

.section1 {
  background-color: #f2f7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 126px 20px;
  @include desktop {
    flex-direction: column;
  }
  &-content {
    max-width: 420px;
    margin-right: 50px;
    @include desktop {
      margin-right: 0;
      max-width: 100%;
      text-align: center;
    }
    &__title {
      font-family: $playfairdisplay-font;
      font-weight: 700;
      font-size: 48px;
      line-height: 64px;
      letter-spacing: 0.3px;
      color: #2d2f30;
    }

    &__paragraph {
      font-family: $poppins-font;
      font-weight: 400;
      font-size: 20px;
      line-height: 36px;
      letter-spacing: 0.5px;
      color: #8b8c8c;
    }
  }
}
