<section class="section2">
  <div class="section2-title"><p>Some count that matters</p></div>
  <div class="section2-description"><p>Our achievement in the journey depicted in numbers</p></div>
  <div class="section2-list-count">
    <div class="count-item">
      <div class="count-item__number">30</div>
      <div class="count-item__label">Clients</div>
    </div>
    <div class="count-item count-item--center">
      <div class="count-item__number">300+</div>
      <div class="count-item__label">Taken business legalities</div>
    </div>
    <div class="count-item">
      <div class="count-item__number">8</div>
      <div class="count-item__label">Years of Journey</div>
    </div>
  </div>
</section>
