<section class="section4">
  <div class="section4-content">
    <div class="section4-content__title">Complex Questions?</div>
    <div class="section4-content__description">
      Request for a personalized budget for your legal problem. We will send you a coupe options in
      24 hours. You can have free consult , if a our first customer
    </div>
    <button class="section4-content-contact">
      <figure class="section4-content-contact__call-logo">
        <img src="../assets/imgs/Call.png" alt="">
      </figure>
      <p class="section4-content-contact__label">Call now</p></button>
  </div>
  <figure class="section4-avt">
    <img src="../assets/imgs/avt-section4.png" alt="" />
  </figure>
</section>
